.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 200px;
}
.menu .menu_right ul{
    display: flex;
}
.menu .menu_right ul li{
    list-style: none;
    margin: 0 15px;
    cursor: pointer;
}
.menu .menu_right ul li Link{
    text-decoration: none!important;
    color: black;
}

.table_style{
    box-shadow: 0 -2px 10px rgba(0,0,0,0.2);
}
.oneProduct_style{
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    padding: 30px;
    border-radius: 10px;
}
.input_data{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.input_data label input{
    border-radius: 20px!important;
}
.print{
    cursor: pointer;
}
.excel{
    cursor: pointer;
    text-shadow: 0 0 10px;
}

/*.oneProduct_style .form_style{*/
/*    padding: 15px;*/
/*}*/







